[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=simpleuser
Group=www-data
WorkingDirectory=/home/simpleuser/simple
ExecStart=/home/simpleuser/simpleenv/bin/gunicorn \
          --access-logfile - \
          --workers 4 \
          --bind unix:/run/gunicorn.sock \
          simple.wsgi:application

[Install]
WantedBy=multi-user.target