{% extends 'base.html' %}

{% block content %}
    <div class="wrap wrapFlex">
        <div class="container">
            <div class="wBox">
                <h3>Wait Page</h3>
                <h4>Status: {{ status }}</h4>
                <h4>Counts: {{ times }}</h4>
                <div class="ajaxResponses"></div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            console.log("ready!");
            sendRequest({{ times }})
        });

        function sendRequest(times) {
            if (times < 1)
                return
            LightAjax.get("{% url 'wait_ajax' %}?hidden=y", function (status, response) {
                if (status == 200) {
                    console.log('requests count: ' + times);
                    $('.ajaxResponses').append('<p>response</p>');
                    sendRequest(times - 1);
                }
            })
        }


    </script>

{% endblock %}
