{% extends 'base.html' %}

{% block content %}
<div class="wrap wrapFlex">
  <div class="container">
    <div class="wBox">
      <h3>Demo controls</h3>
      <div class="updateForm demoForm">
        <div class="wait">
          <div><input type="number" class="waitPageTime" value="5" min="1" max="100" minlength="1" maxlength="3"></div>
          <div><a href="javascript:;" class="waitPage">Open page after <span>5</span> seconds</a></div>
        </div>
        <div class="wait">
          <div><input type="number" class="waitAjaxRequests" value="5" min="1" max="10"></div>
          <div><a href="javascript:;" class="waitAjax">Open page and wait <span>5</span> ajax loaded</a>
          </div>
        </div>

        <div class="refresh"><input type="button" class="crash" value="Refresh (Cause crash)"></div>

        <div class="refresh"><input type="button" class="newPage" value="Ctrl + click (New page)"></div>

        <div class="demoControls">
          <div class="demoSelect">
            <select>
              <option value="1">Hello</option>
              <option value="2">World</option>
              <option value="3">Default</option>
            </select>
          </div>
          <div class="demoSelect2">
            <input type="text" id="selectInp" value="Value 1">
            <div class="select">
              <div class="selectValueBox">
                <div class="selectValue">Value 1</div>
                <ul>
                  <li>Value 1</li>
                  <li>Value 2</li>
                  <li>Value 3</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="demoDate">
            <input type="date" value="date me">
          </div>
          <div class="demoDateZebra">
            <input type="text" id="datepicker" value="mm/dd/yyyy">
          </div>
          <div class="demoCheckBox">
            <label for="check1"><input type="checkbox" value="check me" id="check1"> check me</label>
          </div>
          <div class="demoColor">
            <input type="color" value="color me me">
          </div>
          <div class="demoRadio">
            <label for="radio1"><input type="radio" value="1" id="radio1" name="demo">hello</label>
            <label for="radio2"><input type="radio" value="2" id="radio2" name="demo">world</label>
          </div>
          <div class="demoRange">
            <input type="range" value="range me" min="0" , max="100" step="1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
      console.error("Hi! I'm the ERROR. Try to catch me");
  });

  $('.newPage').click(function (e){
     if (e.ctrlKey) {
         let tab = window.open(window.location.href, '_blank');
         tab.focus();
     } else {
         alert('You have to press Ctrl button');
     }
  });

  $('.waitPageTime').blur(function() {
    let waitPageTime = $(this).val();
    if (waitPageTime > 100) {
      waitPageTime = 100
    } else if (waitPageTime < 1) {
      waitPageTime = 1
    }
    $(this).val(waitPageTime)
    $('.waitPage span').html(waitPageTime)
  });
  $('.waitAjaxRequests').blur(function() {
    let waitAjaxRequests = $(this).val();
    if (waitAjaxRequests > 100) {
      waitAjaxRequests = 100
    } else if (waitAjaxRequests < 1) {
      waitAjaxRequests = 1
    }
    $(this).val(waitAjaxRequests)
    $('.waitAjax span').html(waitAjaxRequests)
  });
  $('.waitPage').click(function(event) {
    time = $('.waitPageTime').val();
    window.location.href = "{% url 'wait_page' %}?time=" + time;
  });

  $('.waitAjax').click(function(event) {
    time = $('.waitAjaxRequests').val();
    window.location.href = "{% url 'wait_ajax' %}?time=" + time;
  });

  $('.crash').click(function(event) {
    window.location.href = "{% url 'crash' %}";
  });
</script>

{% endblock %}
