{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <h2>Hello, {{ user.username }}</h2>

        <a href="{% url 'logout' %}">logout</a>
        <hr/>
    {% endif %}
    <H3> Test case stats:</H3>

    <input type="button" onclick="refreshStats()" value="Refresh Stats">
    <table>
        <tr>
            <td>Status</td>
            <td>Count</td>
        </tr>
        <tr>
            <td>No Run</td>
            <td class="noRun">{{ norun }}</td>
        </tr>
        <tr>
            <td>Passed</td>
            <td class="passed">{{ passed }}</td>
        </tr>
        <tr>
            <td>Failed</td>
            <td class="failed">{{ failed }}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td class="total">{{ total }}</td>
        </tr>
    </table>

    <h3>navigation</h3>
    <table>
        <tr>
            <td><a href="{% url 'home' %}">Dashboard</a></td>
            <td><a href="{% url 'tests' %}">Test Cases</a></td>
            <td><a href="{% url 'runs' %}">Test Runs</a></td>
            <td><a href="{% url 'new_test' %}">Create new test</a></td>
        </tr>
    </table>

    <script>
        // test on how fetch works
        function refreshStats() {
            fetch("{% url 'refresh' %}", {
                method: 'GET'
            })
                .then(response => {
                    return response.json().then(json => {
                            if (response.ok) {
                                return json
                            } else {
                                return Promise.reject({
                                    status: response.status,
                                    statusText: response.statusText,
                                    errorData: json
                                })
                            }
                        }
                    )
                        .then(data => {
                            $('.noRun').text(data.norun);
                            $('.passed').text(data.passed);
                            $('.failed').text(data.failed);
                            $('.total').text(data.total);
                        })
                        .catch(error => {
                            console.log('error code is', error.status);
                            console.log(error.errorData);
                        })
                });
        }
    </script>

{% endblock %}