{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="loginForm">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <p>
        {{ form.username.label_tag }}
        {{ form.username }}
      </p>
      <p>
        {{ form.password.label_tag }}
        {{ form.password }}
      </p>
      {% if form.errors %}
        <div class="loginError">Your username and password didn't match. Please try again.</div>
      {% endif %}
      <div class="loginFormSubmit">
        <a href="{% url 'register' %}">Don't have account yet?</a>
        <input type="submit" value="Login">
      </div>
    </form>
  </div>
{% endblock %}
