{% extends "base.html" %}

{% block title %}Create New Test{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h2>Hello, {{ user.username }}</h2>

        <a href="{% url 'logout' %}">logout</a>
        <hr/>
    {% endif %}
    <H3>New Test Case:</H3>
       <form method="post" action="{% url 'new_test' %}">

        {% csrf_token %}
        <table>
            <tr>
                <td>test name</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>test description</td>
                <td>{{ form.description }}</td>
            </tr>
        </table>

        <input type="submit" value="Create">
    </form>

    <h3>navigation</h3>
    <table>
        <tr>
            <td><a href="{% url 'home' %}">Dashboard</a></td>
            <td><a href="{% url 'tests' %}">Test Cases</a></td>
            <td><a href="{% url 'runs' %}">Test Runs</a></td>
            <td><a href="{% url 'new_test' %}">Create new test</a></td>
        </tr>
    </table>
{% endblock %}