{% extends "base.html" %}

{% block title %}Create New Test{% endblock %}

{% block content %}

    <H3>New Test Case:</H3>
       <form method="post" action="{% url 'new_test' %}">

        {% csrf_token %}
        <table>
            <tr>
                <td>test name</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>test description</td>
                <td>{{ form.description }}</td>
            </tr>
        </table>

        <input type="submit" value="Create">
    </form>


{% endblock %}