{% extends "base.html" %}

{% block title %}Create an Account{% endblock %}

{% block content %}
  <div class="loginForm regForm">
    <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
      <p>
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
      </p>
      <p>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
        <td>{{ form.email.errors }}</td>
      </p>
      <p>
        <td>{{ form.password1.label_tag }}</td>
        <td>{{ form.password1 }}</td>
        <td>{{ form.password1.errors }}</td>
      </p>
      <p>
        <td>{{ form.password2.label_tag }}</td>
        <td>{{ form.password2 }}</td>
        <td>{{ form.password2.errors }}</td>
      </p>
      <div class="loginFormSubmit">
        <a href="{% url 'login' %}">Login</a>
        <input type="submit" value="Register">
      </div>
      
    </form>
  
  
  
  </div>
{% endblock %}
