{% extends 'base.html' %}

{% block title %}Test Runs{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="container">
            <div class="wBox2">
                <div class="tableTitle">Test runs <span>(Total {{ count }})</span></div>
                <div class="testTableBox">
                    <table class="testTable testRuns">
                        <thead class="ttHead">
                        <tr>
                            <th class="thId">Id</th>
                            <th class="thName">Summary</th>
                            <th class="thStatus">Status</th>
                            <th class="thExecutor">Executor</th>
                            <th class="thTime">Timestamp</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for run in test_runs %}
                            <tr class="testRow_{{ run.test_case.id }}">
                                <td class="ttId">{{ run.test_case.id }}</td>
                                <td class="ttName">{{ run.test_case.name }}</td>
                                <td class="ttStatus"><span class="{{ run.status }}">{{ run.status }}</span></td>
                                <td class="ttExecutor">{{ run.executor.username }}</td>
                                <td class="ttTime">{{ run.timestamp | date:"d-m-Y H:i:s" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="loadMore"><input type="button" onclick="lazyLoad()" value="load more"></div>
            </div>
        </div>
    </div>

    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                lazyLoad();
            }
        });

        var page = 1;
        var end = {% if end %} true {% else %} false {% endif %};

        function lazyLoad() {
            if (end)
                return;
            let url = "{% url 'lazy_run' %}?page=" + page;
            LightAjax.get(url, function (status, response) {
                if (status == 200) {
                    console.log('page = ', ++page);
                    end = xhr.response.end;
                    console.log('is the end = ', end);
                    if (end)
                        $('.loadMore').hide();
                    xhr.response.runs.forEach((item, index) => {
                        addRow($('.testRuns'), item);
                    })
                }
            });
        }

        function addRow(table, row) {
            table.append(`<tr class="testRow_${row.id}">
              <td class="ttId">${row.id}</td>
              <td class="ttName">${row.name}</td>
              <td class="ttStatus"><span class="${row.status}">${row.status}</span></td>
              <td class="ttExecutor">${row.executor}</td>
              <td class="ttTime">${row.timestamp}</td>
            </tr>`)
        }


    </script>
    <tr class="testRow_{{ run.test_case.id }}">
        <td class="ttId">{{ run.test_case.id }}</td>
        <td class="ttName">{{ run.test_case.name }}</td>
        <td class="ttStatus"><span class="{{ run.status }}">{{ run.status }}</span></td>
        <td class="ttExecutor">{{ run.executor.username }}</td>
        <td class="ttTime">{{ run.timestamp | date:"d-m-Y H:i:s" }}</td>
    </tr>

{% endblock %}
