{% extends "base.html" %}

{% block title %}Update Test{% endblock %}

{% block content %}


    <H3>Update Test:</H3>
    <form method="post">

        {% csrf_token %}
        <table>
            <tr>
                <td>test id</td>
                <td>{{ test_id }}</td>
            </tr>
            <tr>
                <td>test author</td>
                <td>{{ author.username }}</td>
            </tr>
            <tr>
                <td>test run times</td>
                <td>{{ test_runs }}</td>
            </tr>
            <tr>
                <td>test name</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>test description</td>
                <td>{{ form.description }}</td>
            </tr>
        </table>

        <input type="submit" value="Update">
    </form>

{% endblock %}